[user]
	name = Alexander Fahlke
	email = alexander.fahlke+git@gmail.com
[alias]
	ci = commit
	st = status
	br = branch
[push]
	default = simple
[core]
	editor = code --wait
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
